.page-title
  .title_left
    %h3 Company
.clearfix
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2 Edit Company
        .nav.navbar-right
          %a.btn.btn-sm.btn-primary{:href => admin_companies_path} Companies
        .clearfix
      .x_content
        = render 'form', company: @company
