#
## Database Secrets
#
DATABASE_ADAPTER: ''
DATABASE_ENCODING: ''
DATABASE_POOL: ''
DATABASE_NAME: ''
DATABASE_USERNAME: ''
DATABASE_PASSWORD: ''
DATABASE_HOST: ''

#
## Application Secrets
#
SECRET_KEY_BASE: ''
DEVISE_SECRET_KEY: ''

#
## SMTP Configuration
#
SMTP_USER_NAME: ''
SMTP_PASSWORD: ''
SMTP_DOMAIN: ''
SMTP_PORT: ''
SMTP_ADDRESS: ''
SMTP_AUTHENTICATION: ''
SMTP_SSL: ''
SMTP_TLS: ''
SMTP_ENABLE_STARTTLS_AUTO: ''
FROM_EMAIL: ''

#
## Production Environment Variable
#
RAILS_SERVE_STATIC_FILES: ''
