.page-title
  .title_left
    %h3 Company Coupon
.clearfix
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2 New Company Coupon
        .nav.navbar-right
          %a.btn.btn-sm.btn-primary{href: admin_company_coupons_path} Company Coupons
        .clearfix
      .x_content
        = render 'form', company_coupon: @company_coupon
